*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    /* background-color: #24cfea; */
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: #c41ed7; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top: 15px; */
}
#nav1{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding-left: 20px;
    
}
#nav1 h1{
    font-size: 40px;
}
#nav1 img{
    height: 50px;
}
#nav-part2{
    /* background-color: #27f59f; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding-top: 20px;
    padding-right: 30px;
    margin-right: 70px;
}
#home{
    display: flex;
    justify-content: space-between;
    gap: 7px;
}
#home i{
    font-size: 25px;
}
#help{
    display: flex;
    justify-content: space-between;
    gap: 7px;
}
#help i{
    font-size: 25px;
}
#menu{
    display: flex;
    justify-content: space-between;
    gap: 7px;
}
#menu i{
    font-size: 25px;
}
#store{
    display: flex;
    justify-content: space-between;
    gap: 7px;
}
#store i{
    font-size: 25px;
}
#head{
    text-align: center;
    margin-top: 40px;
}
#head h1{
    font-size: 70px;
}
#para{
    margin-top: 30px;
    margin-left: 50px;
    font-size: 30px;
    line-height: 40px;
}
#sav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#save{
    margin-top: 30px;
    margin-left: 50px;
}
#save img{
    height: 465px;
    object-fit: cover;
    
}
#save2{
    margin-top: 30px;
    margin-right: 50px;
}
#save2 img{
    height: 465px;
    object-fit: cover;
}

#sav2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#save3{
    margin-top: 30px;
    margin-left: 45px;
}
#save3 img{
    height: 470px;
    object-fit: cover;
    
}
#save4{
    margin-top: 30px;
    margin-right: 50px;
}
#save4 img{
    height: 470px;
    object-fit: cover;
}